<h1>Kittens</h1>
<p>
	<% @kittens.each do |f| %>
		Name: <%= f.name %><br>
		Age: <%= f.age %><br>
		Cuteness: <%= f.cuteness %><br>
		Softness: <%= f.softness %><br>
		Link to <%= link_to "#{f.name}", f %><br>
		<%= link_to "Delete", kitten_path(f), method: :delete  %><br><br>
	<% end %>
</p>
