<h1>Show Kitten</h1>
<p>
	Id: <%= @kitten.id %><br>
	Name: <%= @kitten.name %><br>
	Age: <%= @kitten.age %><br>
	Cuteness: <%= @kitten.cuteness %><br>
	Softness: <%= @kitten.softness %><br><br>
</p>

